<xml>
    <ToUserName><![CDATA[<%= toUser %>]]></ToUserName>
    <FromUserName><![CDATA[<%= fromUser %>]]></FromUserName>
    <CreateTime><%= timestamp %></CreateTime>
    <MsgType><![CDATA[music]]></MsgType>
    <Music>
        <Title><![CDATA[<%= title %>]]></Title>
        <Description><![CDATA[]]></Description>
        <MusicUrl><![CDATA[<%= musicUrl %>]]></MusicUrl>
        <HQMusicUrl><![CDATA[<%= HQMusicUrl %>]]></HQMusicUrl>
    </Music>
</xml>